@model MVCHomeWork.Models.View_1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>View_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統計銀行數)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統計銀行數)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統計聯絡人數)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統計聯絡人數)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
